<!-- container de la seccion contact -->
<div class="row justify-content-center mt-5">
  <div class="col-md-11 d-flex justify-content-center flex-column">
    <!-- contact header -->
    <h3>Contact</h3>

    <!-- descripcion -->
    <p>
      A diferencia de otros felinos, los gatos domésticos pueden ronronear
      mientras inhalan y exhalan aire. Se cree que el ronroneo es una forma de
      comunicación y expresión de comodidad para ellos. Contactanos si deseas
      conocer mas acerca de estas asombrosas criaturas
    </p>

    <div class="d-flex justify-content-center">
      <!-- Clolumna tamaño form-->
      <div class="col-md-8">
        <!-- container de los inputs -->
        <form>
          <!-- email -->
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label"
              ><strong>Your E-mail</strong></label
            >
            <div class="col-sm-10">
              <input
                type="email"
                class="form-control"
                id="inputEmail3"
                placeholder="Your email"
              />
            </div>
          </div>

          <!-- message-->
          <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label"
              ><strong>Your message</strong></label
            >
            <div class="col-sm-10">
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                placeholder="Please enter your message here..."
              ></textarea>
            </div>
          </div>

          <!-- submit button -->
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>