<!-- your html code here -->
<div class="container justify-content-center m-5">
    <div class="row justify-content-center">
         <!--text-->
         <div class="col-9 justify-content-center">
            <div class="my-4">
            <h2 class="d-inline-flex">The Cat Heading</h2>
            <h2 class="text-secondary d-inline-flex">will catch your eye</h2>
            <p class="d-flex">Rain will fall again
                on your smooth pavement,
                a light rain like
                a breath or a step.
                The breeze and the dawn
                will flourish again
                when you return,
                as if beneath your step.
                Between flowers and sills
                the cats will know.
                There will be other days,
                there will be other voices.
                You will smile alone.
                The cats will know.
                You will hear words
                old and spent and useless
                like costumes left over
                from yesterday's parties.</p>
            </div>
        </div>
        <!--photo-->
        <div class="col-3 d-flex justify-content-center flex-column">
            <img class="rounded-circle img-fluid" src="https://i1.sndcdn.com/avatars-d2S4V3ZNc04RX8kb-dlrQrg-t500x500.jpg">
        </div>
       
    </div>
</div>