<!-- Row Portfolio -->
<div class="row justify-content-center">
  <div class="col-md-11 d-flex justify-content-center flex-column">
    <!-- Division Line -->
    <hr />

    <!-- Title -->
    <h3 class="mt-4">Portfolio</h3>

    <!-- Paragraph -->
    <p>
      Welcome to a magical portfolio of images, where the indisputable protagonists are cats. Immerse yourself in a universe full of feline charm, where each snapshot captures the essence and beauty of these fascinating beings.
    </p>

    <!-- Cards -->
    <div class="d-flex justify-content-center mb-5">

      <!-- Card 1 -->
      <div class="card me-4" style="width: 23rem">
        <img
          src="https://cdn.pixabay.com/photo/2015/02/25/17/56/cat-649164_1280.jpg"
          class="card-img-top"
          alt="Gato"
        />
        <div class="card-body">
          <h5 class="card-title">The Comforting Embrace</h5>
          <p class="card-text">
            A curious and playful kitten is lying upside down in a cozy bed. Its paws rest in the air while its white belly is exposed.
          </p>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="card me-4" style="width: 23rem">
        <img
          src="https://cdn.pixabay.com/photo/2022/10/19/22/15/cat-7533717_1280.jpg"
          class="card-img-top"
          alt="gatito lamiendo"
        />
        <div class="card-body">
          <h5 class="card-title">Sleepy cat</h5>
          <p class="card-text">
            A kitten peacefully sleeps in a cozy bed. The soft light filtering through the window enhances the warm tones of its fur. 
          </p>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="card me-4" style="width: 23rem">
        <img
          src="https://cdn.pixabay.com/photo/2017/04/09/20/58/cat-2216877_1280.jpg"
          class="card-img-top"
          alt="Gatito"
        />
        <div class="card-body">
          <h5 class="card-title">Feline Majesty</h5>
          <p class="card-text">
            
A majestic striped cat is amidst a winter landscape. Its bright green eyes stand out in contrast to its fur.
          </p>
        </div>
      </div>
    </div>
    <hr/>
  </div>
</div>
